name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: secret
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    strategy:
      fail-fast: false
      matrix:
        # aim: all not EOL (https://www.ruby-lang.org/en/downloads/branches/)
        ruby:
          - '3.3'
          - '3.4'
          - '4.0'
          - 'head'
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Setup appraisal
      run: bin/appraisal install
    - name: Run the default task
      run: bin/appraisal rake
      env:
        SPEC_DATABASE_URL: "postgres://postgres:secret@localhost:5432/postgres"
