name: Release gem

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  push:
    if: github.repository == 'eval/appquery'
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      # Set up
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@2e007403fc1ec238429ecaa57af6f22f019cc135 # v1.234.0
        with:
          bundler-cache: true
          ruby-version: ruby

      # Release
      - name: Release
        run: |
          # Writing version.rb changes the Gemfile.lock which
          # halts subsequent rake tasks when in frozen mode
          bundle config set frozen false
          bin/rake gem:write_version[${{ github.ref_name }}]
      - uses: rubygems/release-gem@a25424ba2ba8b387abc8ef40807c2c85b96cbe32 # v1
      - name: Create GitHub release
        run: |
          dot_count=$(echo ${{ github.ref_name }} | tr -cd '.' | wc -c)
          if [[ "$dot_count" -gt 2 ]]; then
            gh release create ${{ github.ref_name }} --prerelease --verify-tag --generate-notes --notes "Some custom header?"
          else
            gh release create ${{ github.ref_name }} --verify-tag --generate-notes --notes "Some custom header?"
          fi
        env:
          # classic token (https://github.com/settings/tokens) with repo-scope
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
